.a {
    width: 1000px;
    height: 400px;
    margin-left: 25%;
    background-image: url(https://resize.indiatv.in/resize/newbucket/1200_-/2022/09/ram-mandir-1662946173.jpg);
    border: 2px solid black;
    background-color: black;
    background-size: cover;
    background-position: center;
}
.a h1{
    padding-left: 75%;
    margin-top: 60px;
    color: aqua;
}
.b {
    margin-left: 25%;
}
.c {
    width: 1000px;
    height: 400px;
    margin-left: 25%;
    background: linear-gradient(140deg, rgba(255,89,0,1) 23%, rgba(255,255,255,1) 51%, rgba(57,230,54,1) 78%);
    border: 2px dotted black;
    background-size: cover;
    background-position: center;
}
.c h1{
    padding-left: 48.6%;
    margin-top: 180px;
}
.d {
    margin-top: 10px;
}


